/* グレー系 */
$dark_gray: #67C23A;
$gray: #cccccc;
$light_gray: #FFFFFF;
$very_light_gray: #fafafa;
/* シアン系 */
$dark_cyan: #67C23A;
$very_dark_cyan: darken($dark_cyan, 25%);

/* 赤系 */
$red: #cc0000;

/* 緑系 */
$green: ＃409EFF;
$pink: #3532e0;


